/* Base style */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}
input,
button {
  font: inherit;
  border: none;
  outline: none;
}
sup {
  color: red;
}
/*end*/
body {
  margin: auto;
}
.container {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
.login {
  text-align: left;
  max-width: 500px;
  width: 350px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  margin: auto;
  margin-top: 10px;
}
.employees-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.button {
  background-color: #1e1e35;
  color: #fff;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.button:is(:hover, :focus) {
  background-color: #353535;
  color: #fff;
}
.button i {
  font-size: 20px;
}

.button--inactive {
  background-color: #f2f2f2;
  color: #242424;
}
.employees-info,
.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-group {
  gap: 5px;
}
.input-group label {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.input-group input {
  width: 100%;
  padding: 5px 15px;
  border-radius: 8px;
  background-color: #f2f2f2;
}
.input-group input:focus {
  outline: 2px solid #1e1e35;
  background-color: whitesmoke;
}
.button-login {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 0;
}

.image {
  width: 100%;
  height: auto;
}
.sidebar {
  clear: both;
}

header {
  margin-bottom: 30px;
}
body {
  background-image: url(/image/background-carbon-xam_101023830.jpeg);
  background-size: cover;
}

.signup {
  color: #0d1b21;
  text-align: center;
}
.signup > a {
  color: #e4e4e4;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}
.thumb {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.mainContent {
  margin-top: 100px;
}
